.welcome-image img {
  width: 100%;
}

.memoticon img {
  width: 20rem;

  @media (max-width: 768px) {
    width: 15rem;
  }
}

.junior-property img {
  width: 15rem;
  margin: 2rem;

  filter: var(--imageFilter);

  @media (max-width: 768px) {
    width: 8rem;
  }
}

.logo img {
  width: 10rem;
  filter: var(--imageFilter);

  @media (max-width: 768px) {
    width: 8rem;
  }
}

.blueLogo img {
  display: block;
  margin: 0 auto;
  width: 50rem;

  @media (max-width: 768px) {
    width: 30rem;
  }
}

.outro img {
  display: block;
  margin: 0 auto;
  filter: var(--imageFilter);

  @media (max-width: 768px) {
    width: 25rem;
  }
}

.activity img {
  width: 35rem;

  @media (max-width: 768px) {
    width: 23rem;
  }
}
