.welcome-image img {
  width: 100%;
}

.memoticon img {
  width: 200px;
  height: 200px;
}

.junior-property img {
  width: 150px;
  height: 150px;
  margin: 20px;

  filter: var(--imageFilter);
}

.logo img {
  width: 108px;
  display: block;
  margin: 0px auto;
  filter: var(--imageFilter);

  @media (max-width: 768px) {
    width: 80px;
  }
}

.outro img {
  filter: var(--imageFilter);
}
.image-card img {
  width: 350px;
}
