.text {
  &--main-title {
    font-size: 48px;
    font-weight: 700;
  }

  &--main-subtitle {
    font-size: 48px;
    font-weight: 300;
  }

  &--content-title {
    font-size: 24px;
    color: #4caeea;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &--content-detail {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
  }

  &--section-title {
    font-size: 36px;
    font-weight: 700;
  }

  &--section-subtitle {
    font-size: 16px;
    font-weight: 300;
  }

  &--probrain-outro {
    font-size: 36px;
    font-weight: 700;
    margin: 50px 0;
  }

  &--junior-intro {
    width: fit-content;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
  }

  &--junior-intro--light {
    width: fit-content;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
  }

  &--junior-property--bold {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &--junior-property--light {
    font-size: 16px;
    font-weight: 300;
  }

  &--junior-outro--title {
    font-size: 24px;
    font-weight: 700;
  }

  &--junior-outro--detail {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}
