.bars {
}

.x-icon-wrapper {
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  padding: 1.2rem;
  border-radius: 50%;
}

.fixed {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
}

.icon-wrapper {
  padding: 1rem;
  border-radius: 50%;
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}
