.card {
  &__title {
    font-size: 24px;
    color: #4caeea;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__detail {
    // font-size: 14px;
  }
  &--left {
    img {
      float: left;
    }
  }
  &--right {
    img {
      float: right;
    }
  }
}
