.card {
  &__title {
    font-size: 24px;
    color: #4caeea;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &--left,
  &--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    .card__text {
      width: 500px;
    }
  }
  &--left {
    flex-direction: row-reverse;
  }
}
