@import '../../../pages/mixin.scss';

.probrain-outro {
  &__inner {
    @include inner;
    @include flex-inner-column;
  }

  margin: 10rem 0;

  @media (max-width: 768px) {
    margin: 5rem 0;
  }
}

.junior-intro {
  position: relative;
  animation: intro 0.7s ease-out forwards;
  &__title {
    @include flex-inner-column;
    margin-bottom: 7rem;

    @media (max-width: 768px) {
      margin: 2rem 0;
    }
  }

  &__inner {
    @include inner;
    @include flex-inner-column;
    height: calc(100vh - 80px);
  }
}
.arrow-down-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 50px;
  animation:downIcon 1s infinite alternate;  

}
@keyframes downIcon {
  0%{transform:translate(0,0);}
  100%{transform:translate(0,20px);}
}
@keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
