@import '../../../pages/mixin.scss';

.probrain-outro {
  &__inner {
    @include inner;
    @include flex-inner-column;
  }
  margin: 100px 0;
}

.junior-intro {
  animation: intro 0.7s ease-out forwards;
  &__title {
    @include flex-inner-column;
    margin-bottom: 70px;
  }

  &__inner {
    @include inner;
    @include flex-inner-column;
    height: calc(100vh - 80px);
  }
}
@keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
