@import '../../../pages/mixin.scss';

.outro {
  &__inner {
    @include inner;
  }

  @media (max-width: 768px) {
    margin-bottom: 5rem;
  }
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outro__description-list {
  margin: 40px 0;
}
