.header {
  width: 100%;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 120rem;
    height: 8rem;
    margin: 0 auto;

    @media (max-width: 768px) {
      height: 6rem;
      padding: 0 2rem;
    }
  }
}
