@import '../../../pages/mixin.scss';

.header {
  width: 100%;

  &__inner {
    @include inner;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;

    @media (max-width: 768px) {
      height: 6rem;
      padding: 0 2rem;
    }
  }
}
