@import '../../../pages/mixin.scss';

.footer {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.4rem;

  &__inner {
    @include inner;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 100%;
    // max-width: 120rem;
    padding: 0 2rem;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
    height: 10rem;
    margin-top: 0;
  }
}
