.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  background-color: var(--mainBackground);
  color: var(--mainColor);

  .link-active {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 3px;

    &:hover {
      text-decoration: underline;
      text-underline-position: under;
      text-decoration-thickness: 3px;
    }
  }
}

.mobile-nav-wrapper {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
}
