$sub-color: #525252;
$fontSize-small: 14px;

@mixin inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    max-width: 1024px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 900px;
  }
  @media screen and (max-width: 768px) {
    max-width: 600px;
  }
  @media screen and (max-width: 480px) {
    max-width: 320px;
  }
}
@mixin flexInner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@mixin card {
  box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
  padding: 30px;
  &:hover {
    transition: all 0.3s ease;
    transform: translateY(-5px);
    box-shadow: 4px 12px 20px 6px rgb(0 0 0 / 18%);
  }
}

.intro {
  &__inner {
    @include inner;
    @include flexInner;
    height: calc(100vh - 80px);
  }
  &__title {
    margin-bottom: 100px;
    width: fit-content;
    text-align: center;

    &--main {
      font-size: 3.5em;
      font-weight: 500;
    }
    &--sub {
      font-size: 1.5em;
      margin-top: 10px;
      color: #525252;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding: 20px;
    .card {
      @include card;
      &__title {
        font-size: 2em;
        font-weight: 500;
      }
      &__subtitle {
        color: $sub-color;
      }
      &__content {
        margin-top: 30px;
        font-size: 20px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__inner {
      height: auto;
    }
    &__title {
      margin-bottom: 10px;

      &--main {
        font-size: 2.5em;
      }
      &--sub {
        font-size: 1em;
      }
    }
    &__content {
      grid-template-columns: 1fr;
      justify-content: center;
      row-gap: 30px;
      .card {
        &__title {
          font-size: 1.5em;
        }
        &__subtitle,
        &__content {
          font-size: 15px;
        }
      }
    }
  }
  @media screen and (max-width: 480px) {
    //대형 휴대기기 크기 425px
    &__title {
      &--main {
        font-size: 1.7em;
      }
      &--sub {
        font-size: 0.7em;
      }
      br {
        display: none;
      }
    }
    &__content {
      padding: 10px;
      row-gap: 20px;
    }
  }
}

.text {
  overflow: hidden;
  margin-bottom: 100px;
  &__inner {
    width: fit-content;
    margin: 0 auto;
    position: relative;
  }
  &__main,
  &__sub {
    transition: all 1.1s ease-out;
    color: #4caeea;
    opacity: 0;
  }
  &__main {
    font-size: 19em;
    font-weight: 700;
    transform: translateX(-50%);
  }
  &__sub {
    width: fit-content;
    float: right;
    transform: translateX(50%);
    font-size: 2em;
  }
  &.active {
    .text__main,
    .text__sub {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @media screen and (max-width: 1600px) {
    &__main {
      font-size: 14.4em;
    }
    &__sub {
      font-size: 1.5em;
    }
  }
  @media screen and (max-width: 1200px) {
    &__main {
      font-size: 12em;
    }
  }
  @media screen and (max-width: 1024px) {
    &__main {
      font-size: 11em;
    }
  }
  @media screen and (max-width: 768px) {
    margin: 30px 0;
    &__main {
      font-size: 9em;
    }
    &__sub {
      font-size: 1em;
    }
  }
  @media screen and (max-width: 480px) {
    &__main {
      font-size: 3.8em;
    }
  }
}

.c1 {
  &__inner {
    @include inner;
    @include flexInner;
  }
  &__content {
    .c1__card {
      @include card;
      margin: 40px 0;
      opacity: 0;
      transform: translateY(50%);
      transition: all 1.1s ease-out;
      font-size: 18px;
      &.active {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
  @media screen and (max-width: 768px) {
    .c1__card {
      margin: 0;
      font-size: 15px;
    }
    .c1__card + .c1__card {
      margin-top: 20px;
    }
  }
}
.registration {
  &__inner {
    @include inner;
    @include flexInner;
    height: 200px;
  }
  &__btn {
    padding: 15px 45px;
    font-size: 18px;
    background: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 40px;
  }
  @media screen and (max-width: 480px) {
    &__btn {
      padding: 10px 35px;
      font-size: 15px;
    }
  }
}
.intro-junior {
  background-color: #4caeea;
  &__inner {
    @include inner;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
  }
  &__left {
    padding: 100px;
  }
  &__title {
    font-size: 30px;
    font-weight: 500;
  }
  &__sub-title {
    font-weight: 300;
    font-size: 14px;
    margin: 30px 0;
  }
  &__btn {
    padding: 20px 70px;
    border: 1px solid white;
    background-color: white;
    border-radius: 30px;
    font-size: 16px;
  }
  @media screen and (max-width: 1024px) {
    &__left {
      padding: 40px;
    }
  }
  @media screen and (max-width: 768px) {
    &__title {
      font-size: 22px;
    }
    &__btn {
      padding: 10px 40px;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    &__inner {
      grid-template-columns: 1fr;
    }
  }
}
