@mixin inner {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  @media (max-width: 1200px) {
    max-width: 100rem;
  }
  @media (max-width: 1024px) {
    max-width: 80rem;

  }
}

@mixin flex-inner-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@mixin grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10rem;
  grid-row-gap: 8rem;
  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    grid-row-gap: 5rem;
  }
  // @media (max-width: 768px) {
  //   display: flex;
  //   flex-direction: column;
  //   grid-row-gap: 5rem;
  // }
}

@mixin showX {
  &--left,
  &--right {
    transform: translateX(0);
    opacity: 1;
  }
}
@mixin showY {
  &--up,
  &--down {
    transform: translateY(0);
    opacity: 1;
  }
}
