.button {
  &--gray {
    padding: 15px 45px;
    font-size: 18px;
    background: var(--buttonBg);
    color: var(--buttonColor);
    border: none;
    border-radius: 40px;
    font-weight: 500;
  }
}
