@import '../../../pages/mixin.scss';

.card {
  &--left,
  &--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    .card__text {
      width: 500px;
    }
    // animation
    transition: all 1.1s ease-out;
    opacity: 0;
  }
  &--left {
    flex-direction: row-reverse;
    transform: translateX(-50%);
  }
  &--right {
    transform: translateX(50%);
  }
}
.active .card {
  @include showX;
}
