@import '../../../pages/mixin.scss';

.section {
  margin: 30rem 0;

  @media (max-width: 768px) {
    // padding: 2rem;
    margin: 10rem 0;
  }

  &__inner {
    @include inner;
  }

  &__title {
    margin-bottom: 6rem;

    @media (max-width: 768px) {
      margin-bottom: 0rem;
      padding: 2rem;
    }
  }
}

.grid-2 {
  &__content {
    @include grid-2;
    justify-items: right;
    justify-content: space-between;
    @media  (max-width: 768px) {
      padding: 2rem;
    }
  }
}

.card {
  &__content {
    @media (max-width: 768px) {
      overflow-y: scroll;
      display: flex;
      padding: 2rem;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  &__content::-webkit-scrollbar {
    @media (max-width: 768px) {
      display: none; /* Chrome, Safari, Opera*/
    }
  }
}

.grid-4 {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-column-gap: 12rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3rem;
      grid-row-gap: 4rem;
      padding: 2rem;
    }
  }
}

.activity {
  &__content {
    background-image: url('images/Vector.png');
    background-size: cover;

    @media (max-width: 768px) {
      background-image: none;
      overflow-y: scroll;
      display: flex;
      padding: 2rem;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  &__content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
