@import '../../../pages/mixin.scss';

.section {
  margin: 120px 0;
  &__inner {
    @include inner;
  }

  &__title {
    margin-bottom: 60px;
  }
}

.grid-2 {
  &__content {
    @include grid-2;
    justify-items: right;
  }
}
.activity {
  &__content {
    background-image: url('images/Vector.png');
    background-size: cover;
  }
  .card {
    margin: 100px 0;
    img {
      min-width: 350px;
    }
  }
}
