@import '../../../pages/mixin.scss';

.section {
  margin: 300px 0;
  &__inner {
    @include inner;
  }

  &__title {
    margin-bottom: 60px;
  }
}

.grid-2 {
  &__content {
    @include grid-2;
    justify-items: right;
  }
}

.grid-4 {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-column-gap: 120px;
  }
}

.activity {
  &__content {
    background-image: url('images/Vector.png');
    background-size: cover;
  }
}
