.image-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  margin-bottom: 50px;

  &--left {
    flex-direction: row-reverse;
  }

  &--right {
    flex-direction: row;
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.09);
    padding: 3rem;
    border-radius: 2.4rem;
    background-color: var(--cardBg);
    margin-bottom: 30px;
  }
}
