.image-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  margin-bottom: 50px;

  &--left {
    flex-direction: row-reverse;
  }

  &--right {
    flex-direction: row;
  }
}
