@import '../../../pages/mixin.scss';

.welcome {
  margin-top: 100px;
  &__inner {
    @include inner;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 80px 0;
  }
}
