.nav {
  &__inner {
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &--text {
    display: flex;
  }

  &__item {
    padding: 0 1rem;
  }

  &__icon-wrapper {
    margin-left: 3rem;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--mainColor);
  }

  .link-active {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;

    &:hover {
      text-decoration: underline;
      text-underline-position: under;
      text-decoration-thickness: 2px;
    }
  }
}
